<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create post</title>
</head>
<body>

<a href="/admin/posts">List post</a>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<form th:object="${postForm}" th:action="@{/admin/posts/create}" th:method="post" enctype="multipart/form-data">
    <p>
        <label for="#">Title</label>
        <input th:field="*{title}">
    </p>
    <p>
        <label for="#">Description</label>
        <textarea th:field="*{description}" />
    </p>
    <p>
        <label>Content</label>
        <textarea th:field="*{content}"></textarea>
    </p>
    <p>
        <label for="#">Image url</label>
        <input type="file" th:field="*{image}">
    </p>
    <p>
        <label for="">Select category</label>
        <select th:field="*{category}">
            <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
        </select>
    </p>
    <p>
        <input type="submit" value="Create post">
    </p>
</form>
</body>
</html>