<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update post</title>
</head>
<body>
<h2>Update post</h2>
<a href="/admin/posts">List post</a>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<form th:object="${postForm}" th:action="@{/admin/posts/__${postForm.id}__/update}" th:method="post" enctype="multipart/form-data">
    <input th:hidden="true" th:field="*{id}">
    <p>
        <label>Title</label>
        <input th:field="*{title}">
    </p>
    <p>
        <label>Description</label>
        <textarea th:field="*{description}"/>
    </p>
    <p>
        <label>Content</label>
        <textarea th:field="*{content}"></textarea>
    </p>
    <p>
        <label>Image url</label>
        <input type="hidden" th:field="*{imageUrl}"/>
        <img th:src="@{/images/__${postForm.imageUrl}__}" width="200" alt=""/>
        <input type="file" th:field="*{image}"/>
    </p>
    <p>

        <label>Select category</label>
        <select th:field="*{category}">
            <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"
                    th:selected="${c.id==postForm.category.id}"></option>
        </select>

    </p>
    <p>
        <input type="submit" value="Update post">
    </p>
</form>
</body>
</html>