<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/site/layout.html}">
<head>

    <head>
        <meta charset="UTF-8">
        <title>Home - Nguyen Xuan Hoa Blog</title>
    </head>
<body>

<!-- Intro -->
<div id="intro" layout:fragment="intro">
    <h1>Nguyễn Xuân Hoà Blog</h1>
    <p>Nơi chia sẽ những ghi chép của bản thân, kiến thức về lập trình, chuyện đời, chuyện nghề và tất tần tật</p>
    <ul class="actions">
        <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
    </ul>
</div>

<section layout:fragment="content">

    <!-- Posts -->
    <section class="posts">
        <th:block th:each="post : ${posts}">
            <article>
                <header>
                    <span class="date" th:text="${post.createdDate}"></span>
                    <h2><a th:href="@{/posts/__${post.id}__}" th:text="${post.title}"></a></h2>
                </header>
                <a th:href="@{/posts/__${post.id}__}" class="image fit"><img th:src="@{/images/__${post.imageUrl}__}"/></a>
                <p th:text="${post.description}"></p>
                <ul class="actions">
                    <li><a th:href="@{/posts/__${post.id}__}" class="button">Full Story</a></li>
                </ul>
            </article>
        </th:block>
    </section>

    <!-- Footer -->
    <footer>
        <div class="pagination">
            <!--<a href="#" class="previous">Prev</a>-->
            <a href="#" class="page active">1</a>
            <a href="#" class="page">2</a>
            <a href="#" class="page">3</a>
            <span class="extra">&hellip;</span>
            <a href="#" class="page">8</a>
            <a href="#" class="page">9</a>
            <a href="#" class="page">10</a>
            <a href="#" class="next">Next</a>
        </div>
    </footer>

</section>

</body>
</html>