<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/site/layout.html}">
<head>

    <head>
        <meta charset="UTF-8">
        <title th:text="${category.name}"></title>
    </head>
<body>


<section layout:fragment="content">

    <!-- Posts -->
    <section class="posts">
        <th:block th:each="post : ${posts}">
            <article>
                <header>
                    <span class="date" th:text="${post.createdDate}"></span>
                    <h2><a th:href="@{/posts/__${post.id}__}" th:text="${post.title}"></a></h2>
                </header>
                <a th:href="@{/posts/__${post.id}__}" class="image fit"><img th:src="@{/images/__${post.imageUrl}__}"/></a>
                <p th:text="${post.description}"></p>
                <ul class="actions">
                    <li><a th:href="@{/posts/__${post.id}__}" class="button">Full Story</a></li>
                </ul>
            </article>
        </th:block>
    </section>

    <!-- Footer -->
    <footer>
        <div class="pagination">
            <a th:href="@{''(page=${posts.number - 1})}" th:if="${posts.hasPrevious()}" class="previous">Previous</a>
            <a th:href="@{''(page=${posts.number + 1})}" th:if="${posts.hasNext()}" class="next">Next</a>
        </div>
    </footer>
</section>

</body>
</html>