<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List category</title>
</head>
<body>
    <h2>List category</h2>
<table border="1">
    <thead>
        <tr>
            <td>Index</td>
            <td>Name</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        <th:block th:each="category : ${categories}">
            <tr>
                <td th:text="${category.id}"></td>
                <td th:text="${category.name}"></td>
                <td><a th:href="@{/edit-category/__${category.id}__}">Edit</a></td>
                <td><a th:href="@{/edit-category/__${category.id}__}">Delete</a></td>
            </tr>
        </th:block>
    </tbody>
</table>
<div>
    <a th:href="@{'/categories'(page=${categories.number - 1})}" th:if="${categories.hasPrevious()}">Previous</a>
    <span th:text="${categories.number + 1}"></span>/<span th:text="${categories.totalPages}"></span>
    <a th:href="@{'/categories'(page=${categories.number + 1})}" th:if="${categories.hasNext()}">Next</a>
</div>
</body>
</html>