.main-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-content-header {
  margin-bottom: 40px;
}

.main-title {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.thumbnail-sm {
  max-width: 100px;
}

.form-footer {
  padding-top: 15px;
}

/* Authentication */
body.authentication {
  background-color: #1e252d;
}

.authentication-form {
  color: #fff;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 40px;
}