.main-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-content-header {
  margin-bottom: 40px;
}

.main-title {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.thumbnail-sm {
  max-width: 100px;
}