<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete category</title>
</head>
<body>
<p>
    <a href="/admin/categories">List category</a>
</p>

<h2>Are you sure delete category?</h2>

<form th:object="${category}" th:action="@{/admin/categories/__${category.id}__/delete}" th:method="post">
    <p>
        <label for="#">Category name</label>
        <input  th:field="*{name}" readonly>
    </p>
    <p>
        <input type="submit" value="Delete category">
    </p>
</form>
</body>
</html>