<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>List category</title>
</head>
<body>

<section layout:fragment="content">

    <div class="main-content-header row">
        <div class="col-md-6">
            <h4 class="main-title">List category</h4>
        </div>
        <div class="col-md-6 text-right">
            <a href="/admin/categories/create" class="btn btn-primary">Create category</a>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="category : ${categories}">
            <tr>
                <td th:text="${category.id}"></td>
                <td th:text="${category.name}"></td>
                <td><a th:href="@{/admin/categories/__${category.id}__}">View</a></td>
                <td><a th:href="@{/admin/categories/__${category.id}__/update}">Edit</a></td>
                <td><a th:href="@{/admin/categories/__${category.id}__/delete}" class="text-danger">Delete</a></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</section>

</body>
</html>